

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
}

.container {
  border-radius: 10px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: #F6F6F4;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#logo {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
}

.todo-input {
  margin: 0 auto;
  margin-top: 2rem;
  width: 500px;
  text-align: center;
  padding-bottom: 2rem;
}

input {
  border: 2px solid black;
  height: 30px;
}

#addButton {
  margin-left: 1rem;
  border: 2px solid black;
  width: 30px;
  height: 30px;
}

#addButton {
  font-weight: bold;
}

.container-todos {
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #E3E3DD;
  width: 500px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.todo {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #D1D1C7;
  height: 50px;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#removeButton {
  margin-left: 2rem;
  border: 2px solid black;
  width: 30px;
  height: 30px;
}